#main svg {
  width: 600px;
  height: 600px;
  outline: 1px solid;
}

line {
  stroke: #0af;
}

circle {
  stroke: #0af;
  fill: #fff;
}

text {
  text-transform: uppercase;
  font-family: arial;
}

.master text {
  fill: #8ce;
}

.master circle {
  fill: #cef;
}

.node {
  stroke-width: 1px;
  cursor: pointer;
}

.node text {
  font-size: 9px;
  display: none;
}

.node:hover text,
.node.selected text
{
  display: block;
}
