$blue: #c2e6f4;

#main svg {
  width: 600px;
  height: 600px;
  outline: 1px solid;
  font-weight: bold;
}

line {
  stroke: $blue;
}

circle {
  stroke: $blue;
  fill: #fff;
}

text {
  text-transform: uppercase;
  font-family: arial;
}

.master text {
  fill: #44b0dd;
}

.master circle {
  fill: #cdeaf6;
}

.core {
  path {
    fill: $blue;
  }
}

.node {
  stroke-width: 1px;
  cursor: pointer;
}

.node text {
  font-size: 9px;
  display: none;
}

.node:hover text,
.node.selected text
{
  display: block;
}
